<div class="picture-collection__container">
  @if (pictures().length) {
    <div class="picture-collection__grid">
      @for (picture of pictures(); track picture.id) {
        <app-picture-preview
          style="cursor: pointer"
          [picture]="picture"
          (click)="pictureClick.emit(picture)"
        />
      }
    </div>
    <div #loadTrigger>
      @if (loading()) {
        <mat-progress-spinner mode="indeterminate" class="picture-collection__loader" />
      }
    </div>
  } @else {
    <div class="picture-collection__placeholder-container">
      <img src="gallery-placeholder.svg" class="favorites__placeholder" />
      <span class="picture-collection__placeholder-text">Nothing to display yet</span>
    </div>
  }
</div>
